<app-search-form (doSearch)="searchAction($event)"></app-search-form>

<div *ngIf="paginationData">
  <ul>
    <mat-grid-list cols="4">
      <li
        *ngFor="
          let item of imageData | paginate: { itemsPerPage: 12, currentPage: p, totalItems: paginationData.total_count }
        "
      >
        <mat-grid-tile>
          <app-giphy-card [gifUrl]="item.images.original.url"></app-giphy-card>
        </mat-grid-tile>
      </li>
    </mat-grid-list>
  </ul>
  <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
</div>
