<form [formGroup]="myForm">
  <mat-form-field class="example-full-width">
    <input
      matInput
      formControlName="inputSearch"
      placeholder="Write a search term"
      name="inputSearch"
      type="text"
      (keydown.enter)="search()"
      color="primary"
    />
  </mat-form-field>
  <button mat-raised-button (click)="search()">search</button>
</form>
